/* basic setup */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Montserrat', sans-serif;
}

:root {
  font-size: 62.5%;
}


/* header section */

h1 {
  font-weight: 700;
  font-size: 3.5rem;
  text-transform: uppercase;
  margin: 5rem 0 3rem 0;
  text-align: center;
}


.clock {
  background: #333333;
  width: 20rem;
  padding: 1rem;
  text-align: center;
  border-radius: 10px;
}